In [1]:
import numpy as np
import pandas as pd

In [3]:
reg_season = pd.read_csv(r'..\Adjusted for Pace\leagueleaders_LeagueLeaders__LeagueID-00_PerMode-PerGame_StatCategory-BLK_Season-All Time_SeasonType-Regular Season_Scope-S_ActiveFlag-No.csv')
playoffs = pd.read_csv(r'..\Adjusted for Pace\leagueleaders_LeagueLeaders__LeagueID-00_PerMode-PerGame_StatCategory-BLK_Season-All Time_SeasonType-Playoffs_Scope-S_ActiveFlag-No.csv')

In [5]:
playoffs = playoffs[['PLAYER_ID','PLAYER_NAME','BLK','BLK_RANK']]

In [6]:
reg_season = reg_season[['PLAYER_ID','PLAYER_NAME','BLK','BLK_RANK']]

In [7]:
def add_two(x):
    return x + 2

In [10]:
playoffs = playoffs.dropna(how='any')
reg_season = reg_season.dropna(how='any')

In [11]:
playoffs['BLK_RANK'] = playoffs['BLK_RANK'].apply(add_two)
reg_season["BLK_RANK"] = reg_season['BLK_RANK'].apply(add_two)

In [22]:
# Function to adjust stats for pace over eras
pace_2020 = 100.2
adj_stat=[]
def adjust_for_pace(stat,old_pace):
    adj_stat = stat*(pace_2020/old_pace)
    return adj_stat

In [26]:
brp = adjust_for_pace(7.7,120.24)

In [27]:
brs = adjust_for_pace(8.6,120.24)

In [28]:
wcp = adjust_for_pace(8.3,119.6)

In [29]:
wcs = adjust_for_pace(8.8, 119.6)

In [30]:
brp_row = pd.DataFrame({'PLAYER_ID' : [222], 'PLAYER_NAME' : ["Bill Russell"], 'BLK' : [brp], 'BLK_RANK' : [2]})
wcp_row = pd.DataFrame({'PLAYER_ID' : [111], 'PLAYER_NAME' : ["Wilt Chamberlain"], 'BLK' : [wcp], 'BLK_RANK' : [1]})
brs_row = pd.DataFrame({'PLAYER_ID' : [222], 'PLAYER_NAME' : ["Bill Russell"], 'BLK' : [brs], 'BLK_RANK' : [2]})
wcs_row = pd.DataFrame({'PLAYER_ID' : [111], 'PLAYER_NAME' : ['Wilt Chamberlain'], 'BLK' : [wcs], 'BLK_RANK' : [1]})

In [31]:
adj_playoffs = pd.concat([brp_row, playoffs])

In [32]:
adj_playoffs = pd.concat([wcp_row, adj_playoffs])

In [33]:
adj_reg_season = pd.concat([brs_row, reg_season])

In [34]:
adj_reg_season = pd.concat([wcs_row, adj_reg_season])

In [35]:
adj_reg_season

      PLAYER_ID       PLAYER_NAME       BLK  BLK_RANK
0           111  Wilt Chamberlain  7.372575         1
0           222      Bill Russell  7.166667         2
0         76631        Mark Eaton  3.501710         3
1         76195        Manute Bol  3.342950         4
2           165   Hakeem Olajuwon  3.093700         5
...         ...               ...       ...       ...
1161       1521     Jacque Vaughn  0.019330      1164
1162       1731        Tyronn Lue  0.018050      1165
1163      78279      Jon Sundvold  0.009960      1166
1164      76107      Dick Barnett  0.000000      1167
1165      77198        Wali Jones  0.000000      1167

[1168 rows x 4 columns]

In [36]:
adj_playoffs

      PLAYER_ID       PLAYER_NAME       BLK  BLK_RANK
0           111  Wilt Chamberlain  6.953679         1
0           222      Bill Russell  6.416667         2
0           165   Hakeem Olajuwon  3.255170         3
1         76631        Mark Eaton  2.837840         4
2         76195        Manute Bol  2.655170         5
...         ...               ...       ...       ...
2058     201974     Derrick Brown  0.000000      1489
2059       2853       Earl Barron  0.000000      1489
2060     202356     Armon Johnson  0.000000      1489
2061     203517   Nemanja Nedovic  0.000000      1489
2062     202729        Josh Selby  0.000000      1489

[2063 rows x 4 columns]

In [37]:
adj_playoffs.to_csv(r'C:\Users\User\Desktop\Python\Projects\Self\Wilt and Russell Blocks\Adjusted for Pace\adjusted_wilt_bill_playoff_blocks.csv')

In [38]:
adj_reg_season.to_csv(r'C:\Users\User\Desktop\Python\Projects\Self\Wilt and Russell Blocks\Adjusted for Pace\adjusted_wilt_bill_season_blocks.csv')

In [39]:
adj_playoffs.head(20).to_csv(r'C:\Users\User\Desktop\Python\Projects\Self\Wilt and Russell Blocks\Adjusted for Pace\adjusted_top20_playoff_blocks.csv')

In [40]:
adj_reg_season.head(20).to_csv(r'C:\Users\User\Desktop\Python\Projects\Self\Wilt and Russell Blocks\Adjusted for Pace\adjusted_top20_season_blocks.csv')